body{
    background-image: url(pen.jpg);
    background-repeat: no-repeat;
    background-size: 1570px 800px;
}
form{
border: solid 1px;
width: 450px;
margin-left: 100px;
padding-left: 10px;
}
label{
    font-size: 21px;
    color: aqua;
    font-weight: bold;
}
input{
    height:35px;
    width: 300px;
    border-radius: 15px;
}
textarea{
    height: 100px;
    width: 300px;
}
button{
    height: 50px;
    width: 150px;
    background-color: blueviolet;
    color: brown;
    border-radius: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
}