*{
    padding:0px;
    margin: 0px;
}
ul{
    border: solid 1px;
    width: 330px;
    position: fixed;
    height: 100%;
    background-color: aqua;
    padding: top 60px; ;
}
#text1{
    color: blueviolet;
    font-size: 40px;
    font-weight: bold;
}
#text2{
    color: darkmagenta;
    font-size: 33px;
    font-weight: bold;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 160px;
    margin-left: 70px;
    background-color: blueviolet;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}

ul li a{
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
ul li:hover{
    background-color: beige;
}
#home{
    border: solid 1px;
    height: 700px;
    background-color: burlywood;
    padding-left: 330px;
}
#text3{
    color: brown;
    font-size:  50px;
}
#text4{
    color: blue;
    font-size: 50px;
}
#text5{
    font-size: 25px;
    font-weight: bold;
}
#bt1{
    height: 60px;
    width: 200px;
    background-color: blueviolet;
    border-radius: 20px;
    color: coral;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
#about{
    border: solid 1px;
    height: 700px;
    background-color: darkgoldenrod;
    padding-left: 335px;
}
#aboutme{
    font-size: 50px;
    color: blueviolet;
}
html{
    scroll-behavior: smooth;
}